.modalBodyContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 400px;
}

.customerItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 10px 4px;
  border-bottom: 1px solid gray;
}

.customerDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
